# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Processing': 'atom-processing:run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Processing'
      'submenu': [
        { 'label': 'Run sketch', 'command': 'atom-processing:run' }
      ]
    ]
  }
]
